# Venkatesh Gudikoti

In [13]:
import pandas as pd
df_apr_may = pd.read_csv("Classes April-May 2018.csv")
df_june = pd.read_csv("Classes June 2018.csv")
print("April-May shape: ", df_apr_may.shape)
print("June shape: ", df_june.shape)
df_apr_may.head(), df_june.head()

April-May shape:  (2177, 7)
June shape:  (1112, 7)

(  ActivitySiteID      ActivityDescription  \
 0            HXP  20-20-20  2.45pm-3.45pm
 1            HXP  20-20-20  2.45pm-3.45pm
 2            HXP  20-20-20  2.45pm-3.45pm
 3            HXP  20-20-20  2.45pm-3.45pm
 4            HXP  20-20-20  2.45pm-3.45pm

   BookingEndDateTime (Month / Day / Year) BookingStartTime  MaxBookees  \
 0                               08-Apr-18         14:45:00          25
 1                               15-Apr-18         14:45:00          25
 2                               22-Apr-18         14:45:00          25
 3                               29-Apr-18         14:45:00          25
 4                               06-May-18         14:45:00          25

    Number Booked  Price (INR)
 0             12        499.0
 1             15        499.0
 2             14        499.0
 3              9        499.0
 4              7        499.0  ,
   ActivitySiteID     ActivityDescription  \
 0            BRP  20:20:20  9.30-10.30am
 1            BRP  20:20:20  9.30-10.30am
 2            BRP  20:20:20  9.30-10.30am
 3            BRP  20:20:20  9.30-10.30am
 4            BRP  20:20:20  9.30-10.30am

   BookingEndDateTime (Month / Day / Year) BookingStartTime  MaxBookees  \
 0                               01-Jun-18          9:30:00          35
 1                               08-Jun-18          9:30:00          35
 2                               15-Jun-18          9:30:00          35
 3                               22-Jun-18          9:30:00          35
 4                               29-Jun-18          9:30:00          35

    Number Booked  Price (INR)
 0             28          499
 1             35          499
 2             31          499
 3             32          499
 4             19          499  )

In [14]:
df = pd.concat([df_apr_may, df_june], ignore_index=True)
print("Combined shape:", df.shape)
df.head()

Combined shape: (3289, 7)

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,HXP,20-20-20 2.45pm-3.45pm,08-Apr-18,14:45:00,25,12,499.0
1,HXP,20-20-20 2.45pm-3.45pm,15-Apr-18,14:45:00,25,15,499.0
2,HXP,20-20-20 2.45pm-3.45pm,22-Apr-18,14:45:00,25,14,499.0
3,HXP,20-20-20 2.45pm-3.45pm,29-Apr-18,14:45:00,25,9,499.0
4,HXP,20-20-20 2.45pm-3.45pm,06-May-18,14:45:00,25,7,499.0

In [15]:
df = df.drop_duplicates()
print("After dropping duplicates:", df.shape)

After dropping duplicates: (3289, 7)

In [17]:
for col in df.select_dtypes(include=["object"]).columns:
    df[col] = df[col].astype(str).str.strip()

df.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,HXP,20-20-20 2.45pm-3.45pm,08-Apr-18,14:45:00,25,12,499.0
1,HXP,20-20-20 2.45pm-3.45pm,15-Apr-18,14:45:00,25,15,499.0
2,HXP,20-20-20 2.45pm-3.45pm,22-Apr-18,14:45:00,25,14,499.0
3,HXP,20-20-20 2.45pm-3.45pm,29-Apr-18,14:45:00,25,9,499.0
4,HXP,20-20-20 2.45pm-3.45pm,06-May-18,14:45:00,25,7,499.0

In [19]:
for col in df.columns:
    if "date" in col.lower():
        df[col]= pd.to_datetime(df[col], errors="coerce")
        
df.dtypes

ActivitySiteID                                     object
ActivityDescription                                object
BookingEndDateTime (Month / Day / Year)    datetime64[ns]
BookingStartTime                                   object
MaxBookees                                          int64
Number Booked                                       int64
Price (INR)                                       float64
dtype: object

In [22]:
for col in df.columns:
    if df[col].dtypes in ["int64","float64"]:
        if df[col].isnull().any():
            df[col] = df[col].fillna(df[col].median())
            
    else:
        if df[col].isnull().any():
            mode_val = df[col].mode(dropna=true)
            if not mode_vsl.empty:
                df[col] = df[col].fillna(mode_val.iloc[0])
                
df.isnull().sum()

ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
dtype: int64

In [23]:
missing_summary = df.isnull().sum()
print("Missing values per column:\n", missing_summary)

duplicate_count = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

df.describe()

Missing values per column:
 ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
dtype: int64
Number of duplicate rows: 0

        MaxBookees  Number Booked  Price (INR)
count  3289.000000    3289.000000  3289.000000
mean     32.179386      17.088781  1850.778656
std      15.092156       9.504098   790.894827
min       2.000000       1.000000   499.000000
25%      24.000000      10.000000  1299.000000
50%      30.000000      16.000000  1499.000000
75%      35.000000      24.000000  2499.000000
max      70.000000      64.000000  3999.000000

In [24]:
output_file = "Fitness_classes_cleaned_preprocesses.csv"
df.to_csv(output_file, index = False)

print("Cleaned dataset saved as:", output_file)

Cleaned dataset saved as: Fitness_classes_cleaned_preprocesses.csv